<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- logo-->
      <div class="col col-3">
        <div class="logo_img">
          <img src="../../assets/images/logo-Elan.png" alt="logo">
        </div>
      </div>
      <!-- barre de rechercher-->
      <div class="col col-6">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search" class="search_bar">
          <button type="submit" class="b_search"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <!-- icon tele -->
      <div class="col col-3">
        <div class="logo_tel">
          <h3>
             <span class="fa fa-phone"></span>
             <p> (+216) 71.000 000 </p>
          </h3>
        </div>
        <!-- logo social media -->
        <div class="row">
         <div class="col col-3">
           <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
              <!-- facebook logo-->
              <li class="nav-item">
               <a class="dark-grey-text" href="http://www.facebook.com/Elan-by-CONECT-Entreprise-dentrainement-546724438806098" target="_blank">
                 <div class="social_logo">
                   <img src="../../assets/images/L/fb.jpg" alt="ATFP">
                 </div>
               </a>
              </li>
                <!-- youtube logo-->
              <li class="nav-item">
                <a class="dark-grey-text" href="http://www.youtube/ELAN byCONECT">
                 <div class="social_logo">
                   <img src="../../assets/images/L/Logo Youtube -03.jpg" alt="ATFP">
                 </div>
               </a>
              </li>

               <!-- Instagram logo-->
               <li class="nav-item">
                <a class="dark-grey-text" href="http://www.instagram.com/elanbyconect" target="_blank">
                  <div class="social_logo">
                    <img src="../../assets/images/L/Logo Instgrame -02.jpg" alt="ATFP">
                  </div>
                </a>
              </li>

              <!-- Linkedin logo-->
              <li class="nav-item">
                <a class="dark-grey-text" href="http://www.linkedin.com/company/elan-by-conect-entreprise-d-entrainement" target="_blank">
                  <div class="social_logo">
                    <img src="../../assets/images/L/Log LinkedIn-04.jpg" alt="ATFP">
                  </div>
                </a>
              </li>
            </ul>
            <!-- fin ligne social media logo-->
           </nav>
            <!-- fin nav bar-->
          </div>
          <!-- fin 3eme col-->
       </div>
      <!-- fin 2eme row -->
      </div>

    <!-- fin row principal-->
  </div>



 <!-- Page navbar  -->

    <app-navigation></app-navigation>





 <!-- hr -->
 <div class="row">
  <div class="col col-4"> </div>
  <div class="col col-8">
    <hr style="border: 5px;border-color: darkkhaki;">
  </div>
</div>

 <!-- side barre -->
<div class="row">
  <div class="col col-4 sidfixed">
    <!-- A vertical navbar -->
    <div class="w3-sidebar w3-bar-block w3-large w3-border-bottom">
      <a href="#" class="w3-bar-item w3-button"> <i class="fa fa-home"></i> Home </a>
      <a routerLink="/quisommenous" class="w3-bar-item w3-button"> <i class="fa fa-exclamation"> </i>  Qui somme nous</a>
      <div class="w3-dropdown-hover">
        <button class="w3-button"> <i class="fa fa-navicon"> </i> Nos Produits </button>
        <div class="w3-dropdown-content w3-bar-block">
          <a routerLink="/patlist" class="w3-bar-item w3-button">Patisiers</a>
          <a routerLink="/artslist" class="w3-bar-item w3-button">Artisanaux</a>
        </div>
      </div>
    <a href="#" class="w3-bar-item w3-button"> <i class="fa fa-wrench"></i> Condition de vente</a>
    <a href="#" class="w3-bar-item w3-button"> <i class="fa fa-envelope"> </i> Contactez nous</a>
    </div>



    <div style="margin-left:100%">

    </div>

  </div>
</div>


 <!-- contenu-->

 <!-- slick-->

   <!-- fin fluid-->
</div>

</body>
</html>

