.logo_img > img{
  width: 300px;
  height: 300px;
  float: left;
  display: block;
}


.search_bar {
  width: 500px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  flex-direction: row;
  margin-top: 100px;
  padding-right: 50px;
  padding-bottom: 20px;
}
input[type=text]{
  text-align: center;
  font-size: large;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 90%;
}
.b_search{
  padding-bottom: 20px;
  width: 50px;
  text-align: center;
}

.fa-search{
  text-align: center;
  float: none;
}

/* sidebare */

.w3-sidebar{
  width: 200px;
  background-color:#4caf50;
  color: white;
  font-size: 30px;
  display: block;
  position: fixed;
  z-index: 1;
  margin-left:15px;
  margin-top:0px;
  padding-top:5px;
  left: 0;
}


.w3-bar-item:focus{
  background-color: white;
}
