<!DOCTYPE html>
<html lang="FR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="header.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

​<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://mdbootstrap.com/docs/jquery/components/buttons-social/"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("active");
});

</script>
</head>



<body>

  <div class="container-fluid">
    <div class="row">
      <h3>   <span class="fa fa-phone"></span>   <p> (+216) 71.000 000 </p> </h3></div>

  </div>


  <nav class="navbar navbar-expand-lg navbar-lightsteelblue bg-lightsteelblue">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="card-img-top img-responsive" src="../../assets/images/logo-Elan.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">


          <li class="nav-item">
            <input type="text" placeholder="Chercher">
          </li>


          <li class="nav-item actived">
            <a class="fab fa-facebook-square" aria-hidden="true" style="font-size:60px"></a>
        </li>


          <li class="nav-item actived">
            <a href="#" class="fab fa-twitter-square" aria-hidden="true" style="font-size:60px" ></a>
          </li>

          <li class="nav-item actived">
            <a href="#" class="fab fa-youtube-square" aria-hidden="true" style="font-size:60px"></a>
          </li>

          <li class="nav-item actived">
            <a href="#" class="fab fa-linkedin-square" aria-hidden="true" style="font-size:60px"></a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <!-- Page navbar  -->
<app-navigation></app-navigation>
  <!-- side barre -->


  <!-- hr -->
  <div class="row">
    <div class="col col-md-4"> </div>
    <div class="col col-md-6">
      <hr style="border: 5px;border-color: darkkhaki;">
    </div>

  </div>
<app-sidebare></app-sidebare>

  <!-- contenu-->

  <!-- slick-->



</body>
</html>
