<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ------->




    <title>Footer</title>
</head>

<body>

    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5">

        <div style="background-color: #21d192;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Get connected with us on social networks!</h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3 dark-grey-text">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Company name</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p class="elan-diff">
                      L'entreprise d'entrainement (EE) professionnelle ELAN, dont le promoteur est la Confédération des Entreprises Citoyennes de Tunisie (CONECT), est une entreprise de formation par la pratique ,active au sein d'un réseau international regroupant plus de 5000 entreprises de même type.
                       Nous offrons aux personnes en formation la possibilité de mettre en pratique leurs connaissances et compétences professionnelles, de les actualiser ou de les parfaire dans tous les domaines de l'administration et de la gestion commerciale.
                      Elle est certifiée par le Réseau des Entreprises d'Entrainement de Tunisie REET.
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Products</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="https://www.patisserie-rekik.com">Madame Rekik</a>
                    </p>
                    <div class="product_logo">
                    <img src="../../assets/images/Mme Rekik/rekik.JPG" alt="Madame Rekik" >
                    </div>
                    <p>
                        <a class="dark-grey-text" href="http://www.tunisianpearl.tn">Tunnisian Pearl</a>
                    </p>
                    <div class="product_logo">
                      <img src="../../assets/images/Tunisian Perl/perl.JPG" alt="Tunisian Perl">
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Partenaires</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a class="dark-grey-text" href="http://www.ee-reseau-tunisie.tn/">
                          <div class="partenaires_logo">
                            <img src="../../assets/images/partenaire/logo-réseau-EE.png" alt="Reet">
                            <figcaption> Reet </figcaption>
                          </div>
                        </a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="https://www.helvartis.ch/fr/!">
                          <div class="partenaires_logo">
                            <img src="../../assets/images/partenaire/helvartis.png" alt="helvartis">
                            <figcaption>Helvartis</figcaption>
                          </div>
                        </a>
                    </p>
                    <p>
                        <a class="dark-grey-text" href="https://www.swisscontact.org/fr/page-daccueil.html">
                          <div class="partenaires_logo">
                            <img src="../../assets/images/partenaire/suisse.png" alt="suisscontact">
                            <figcaption> SuissContact </figcaption>
                          </div>
                        </a>
                    </p>
                    <p>
                      <a class="dark-grey-text" href="#!">
                        <div class="partenaires_logo">

                          <img src="../../assets/images/partenaire/conect.gif" alt="conect">
                          <figcaption> Conect </figcaption>
                        </div>

                      </a>
                  </p>
                    <p>
                        <a class="dark-grey-text" href="http://www.emploi.gov.tn/index.php/ar">
                          <div class="partenaires_logo">
                            <img src="../../assets/images/partenaire/atfp.png" alt="ATFP">
                            <figcaption>Ministère de la Formation professionnelle et de l'Emploi </figcaption>
                          </div>
                        </a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> Tunis , Charguia II , Tunisia</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> direction@elan.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 216 71 941 333</p>
                    <p>
                        <i class="fas fa-print mr-3"></i> + 216 71 941 333</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
            <a class="dark-grey-text" href="https://elan.tn/"> Elanby conect</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

</body>

</html>
