<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
​<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
  <div class="row">

    <div class="col-md-3">

      <a href="quiSommeNous.html"> Qui Sommes Nous</a>

    </div>

    <div class="col-md-5">

      <h3> <i> Découvrez Nous Produits Chez Mme Rekik et Tunisian perl</i> </h3>

    </div>

    <div class="col-md-4">

      <h4> <i>  <span class="fa fa-phone"></span>  Phone : +216.71 000 000  </i></h4>
      <br>

        <i class="fa fa-address-card fa-2x" aria-hidden="true" >  Adresse </i>
        <h3>
        <p>Rue des Entrepreneurs, 2035</p>
        <p>Charguia 2 Tunis</p>
        <p>Tunisie</p>
        <p>Email : direction@elan.com</p>
        <p>Tel : +216 71 941 333</p>

      </h3>

    </div>


  </div>

</div>




</body>
</html>
