<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="sidenav">
  <button class="dropdown-btn">Produits
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Artisanaux</a>
    <a href="#">Patissisers</a>
  </div>

  <a href="#about">Fabricant</a>
  <a href="#services">Condition de vente</a>
  <a href="#clients">Livraison</a>
  <a href="#contact">Contact</a>

  <a href="#contact">Search</a>
</div>



  <script type="text/javascript" src="../../assets/javascript/sidebare.js"></script>

</body>

</html>
