<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contenu </title>


  <!-- header link -->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="contenu.component.css">
</head>


  <script>
      $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas-left').toggleClass('active');
  });

  $('[data-toggle=offcanvasright]').click(function() {
    $('.row-offcanvas-right').toggleClass('active');
  });

  </script>

<body>

 <nav>

 </nav>

  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="row-offcanvas row-offcanvas-right">
           <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebarLeft" role="navigation">
             <p class="visible-xs">
              <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </p>

          </div><!--/span-->

          <div class="col-xs-12 col-sm-8">
            <p class="pull-left visible-xs">
              <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </p>
            <p class="pull-right visible-xs">
              <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvasright"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </p>
            <div class="jumbotron">

              <ngb-carousel (slide)="slideActivate($event)">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="../../assets/images/Tunisian Perl/B 0-01.jpg" alt="Angular Carousel 1">
                  </div>
                  <div class="carousel-caption">
                    <h3>BIENVENU</h3>
                    <p>Bienvenu a Nos Entreprises d'entrainement ELAN et PES.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img src="../../assets/images/Tunisian Perl/B 04-01.jpg" alt="Angular Carousel 2">
                    </div>
                    <div class="carousel-caption">
                      <h3>ELAN by CONECT</h3>
                      <p>entreprise de connect</p>
                    </div>
                  </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="assets/images/img_bg_3.jpg" alt="Angular Carousel 2">
                  </div>
                  <div class="carousel-caption">
                    <h3>Pes</h3>
                    <p>entreprise de connect.</p>
                  </div>
                </ng-template>
              </ngb-carousel>



            </div>
            <div class="row">
              <div class="col-6 col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
              </div><!--/span-->
              <div class="col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript. Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. </p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
              </div><!--/span-->
              <div class="col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
              </div><!--/span-->
              <div class="col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
              </div><!--/span-->
              <div class="col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
              </div><!--/span-->
              <div class="col-sm-6 col-lg-4">
                <h2>Heading</h2>
                <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.</p>
                <p><a class="btn btn-default" href="#">View details »</a></p>
              </div><!--/span-->
            </div><!--/row-->
          </div><!--/span-->
          <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebarRight" role="navigation">
             <p class="visible-xs">
              <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
            </p>

          </div><!--/span-->
      </div>
    </div>
</div>
</body>
</html>
