body {
  padding-top: 70px;
  background-color: gray;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

.vl {
  border-left: 6px solid red;
  height: 500px;
}


.carro-custum{
  border: 2px;
  border-color: brown;
  padding-bottom: 300px;

  }



  .picsum-img-wrapper , img {

      width: 50vw;
      height: 50vh;
       max-width: 100%;
      display: block ;
      margin-top: 150px;

  }
